.headLine{
    border-bottom: 2px solid rgb(16, 153, 233);
}
.product-grid{
    height: 450px;
}
.product-grid .product-image{
    position: relative;
    overflow: hidden;
}
.product-grid .product-image a.image{ display: block; }
.product-grid .product-image img{
    width: 100%;
    height: 350px;
}
.cardDesign{
    border-radius: 10px;
    box-shadow: 2px -2px 27px -2px rgba(0, 0, 0, 0.425);
}
.product-image .pic-1{
    backface-visibility: hidden;
    transition: all .3s ease-in 0s;
}
.product-image .pic-2{
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    opacity: 0;
    transform: scaleY(0.3);
    transform-origin: top center;
    filter: blur(5px);
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s ease-out;
}
.product-grid:hover .product-image .pic-2{
    opacity: 1;
    transform: scaleY(1);
    filter: blur(0);
}
.product-grid .title{
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
    margin: 0 0 5px;
}
.product-grid .title a{
    color: #555;
    transition: all 0.3s ease;
}
.product-grid .title a:hover{ color: #0066CC; }
.product-grid .price{
    color: #0066CC;
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 7px;
}
.add-to-cart{
    cursor: pointer;
    color: red;
}
.add-to-cart:hover{
    margin-left: 5px;
}
@media screen and (max-width:990px){
    .product-grid{ margin: 0 0 30px; }
}